<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <title></title>
  <link href="<%= htmlWebpackPlugin.options.pathname %>common/css/swiper-3.4.2.min.css" rel="stylesheet" type="text/css">
</head>
<body>